.table-panel {
    display: flex;
    justify-content: center;
    align-items: center;
}

table {
    border-collapse: collapse;
    width: 60%;
    justify-content: space-between;
}

th, td {
    border: 1px solid #d74747;
    padding: 8px;
    text-align: center;
}

th {
    background-color: #22ff38;
}

button {
    background-color: #1c2bf7;
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
        margin-left: 650px;
}

.button-panel {
    display: flex;
    justify-content: center;
    align-items: center;
}

.header {
    display: flex;
    text-align: center;
    font-size: 24px;
    color: #e22020;
    justify-content: space-between;
}